pre.terminal {
  font-family: 'Inconsolata', monospace;
  white-space: pre-wrap;
  text-align: justify;
  display: block;
  word-break: break-word;
  background: #202020;
  color: #EAEAEA; }
  pre.terminal .prompt {
    color: #8BC34B; }
  pre.terminal .cursor {
    color: #65B5F6; }
  pre.terminal .directory {
    color: #65B5F6; }
  pre.terminal .return {
    padding-left: 5rem; }
  pre.terminal .positive {
    color: #8BC34B; }
  pre.terminal .notice {
    color: #F9A825; }
  pre.terminal .error {
    color: #F05350; }
  pre.terminal .information {
    color: #65B5F6; }
  pre.terminal .bold {
    font-weight: bold; }
