/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  line-height: 1.5;
  background: #ffffff; }

* {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

body {
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

.blog h3 {
  font-family: 'Merriweather', sans-serif;
  font-weight: bold; }

p, li {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-family: 'Merriweather', sans-serif; }

a {
  color: #d33d5c; }

code {
  font-family: 'Inconsolata', monospace;
  color: #F05350;
  background: #efefef;
  padding: 3px;
  margin: 0 4px;
  border: 1px solid #CCCCCC; }

.terminal-wrapper {
  background: #1C1C1C;
  margin: 0 -1.5rem;
  padding: 0.75rem 2px; }
  @media screen and (min-width: 40em) {
    .terminal-wrapper {
      padding: 1.5rem;
      border-radius: 0.75rem; } }

blockquote {
  border-left: 1px solid #d33d5c;
  padding-left: 1.5rem; }

p.button a {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  text-align: center;
  border: 0;
  padding: 0.75rem 3rem;
  background-color: #d33d5c;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), #232732 0px 0px 1px inset;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), #232732 0px 0px 1px inset;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  outline: none;
  cursor: pointer; }
  p.button a:hover, p.button a:focus {
    background: #3DA450;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), #505050 0px 0px 1px inset;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), #505050 0px 0px 1px inset; }

h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  color: #d33d5c; }

label, input {
  font-family: 'Merriweather', sans-serif; }

header {
  background: #232732; }
  @media screen and (min-width: 40em) {
    header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  header h1 {
    color: #ffffff;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 700;
    padding: 1.5rem; }
    header h1 a {
      text-decoration: none;
      color: #ffffff; }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    border-bottom: 1px solid #d33d5c; }
    @media screen and (min-width: 40em) {
      header nav ul {
        border: none;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    header nav ul li {
      padding: 0;
      margin: 0; }
      header nav ul li a {
        display: block;
        padding: 0 1.5rem 1.5rem 1.5rem;
        color: #ffffff;
        text-decoration: none; }
        @media screen and (min-width: 40em) {
          header nav ul li a {
            padding: 2.25rem 1.5rem; } }
        header nav ul li a:hover {
          text-decoration: underline; }
          @media screen and (min-width: 40em) {
            header nav ul li a:hover {
              text-decoration: none;
              background: #d33d5c; } }

@media screen and (min-width: 0em) {
  section {
    padding: 1.5rem; } }
@media screen and (min-width: 50em) {
  section {
    padding: 4.5rem 7.5rem; } }
section .container {
  max-width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 50em) {
    section .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 50em) {
    section .container .content {
      width: 50%; } }
  @media screen and (min-width: 50em) {
    section .container .illustration {
      width: 50%;
      margin-left: 3rem; } }
  section .container .illustration img {
    max-width: 100%; }

.hero {
  background: #232732;
  color: #ffffff; }
  .hero a {
    color: #ffffff; }
  @media screen and (min-width: 50em) {
    .hero .container .illustration {
      width: 50%;
      margin-left: 3rem; } }
  .hero .container .illustration img {
    max-width: 100%;
    max-height: 100%; }
    @media screen and (min-width: 50em) {
      .hero .container .illustration img {
        max-width: 60%;
        position: absolute; } }
  .hero h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem; }

.pain .container .illustration {
  max-height: 27rem; }
  .pain .container .illustration img {
    max-height: 100%; }

@media screen and (min-width: 40em) {
  .solution .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
.solution .container .feature {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .solution .container .feature {
      margin-bottom: 1.5rem; } }
  @media screen and (min-width: 40em) {
    .solution .container .feature {
      width: 31%; } }
  .solution .container .feature img {
    display: block;
    height: 3.75rem;
    margin-bottom: 0.75rem; }
  .solution .container .feature h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-weight: bold; }

.release {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/release01-1000x500.jpg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/release01-1000x500.jpg) center no-repeat;
  background-size: cover; }
  @media screen and (min-width: 50em) {
    .release {
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(../images/release01-2000x1000.jpg) center no-repeat;
      background: linear-gradient(transparent, transparent), url(../images/release01-2000x1000.jpg) center no-repeat;
      background-size: cover; } }
  .release h2, .release p, .release a {
    color: #ffffff; }
  @media screen and (min-width: 50em) {
    .release .container .content {
      width: 40%; } }

.progress .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .progress .container .content .card {
    border-radius: 5px;
    background: #efefef;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1.5rem; }
    .progress .container .content .card.complete {
      background: #3DA450;
      color: #ffffff; }
    .progress .container .content .card.major {
      border: 2px solid #d33d5c; }
    .progress .container .content .card h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 0rem;
      margin-bottom: 1.5rem;
      font-family: 'Merriweather', sans-serif;
      font-weight: 800;
      padding-top: 1.5rem;
      margin-bottom: 0; }
    .progress .container .content .card ul li.checklist-item {
      padding-top: 1.5rem;
      background-image: url(../images/checklist-item.svg);
      background-repeat: no-repeat;
      background-position: -5px 20px;
      padding-left: 32px;
      margin-bottom: 0; }
      .progress .container .content .card ul li.checklist-item h3 {
        padding-top: 0; }
      .progress .container .content .card ul li.checklist-item.checked {
        background-image: url(../images/checklist-item-light-checked.svg); }
    .progress .container .content .card p {
      margin-top: 1.5rem;
      margin-bottom: 0; }

.final-cta {
  background: #232732;
  color: #ffffff; }
  .final-cta a {
    color: #ffffff; }
  .final-cta .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.blog .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .blog .container .content {
    width: 100%; }
    @media screen and (min-width: 64em) {
      .blog .container .content {
        width: 70%; } }
    .blog .container .content h1 {
      font-size: 2rem;
      line-height: 3rem;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem; }
    .blog .container .content h2 {
      font-size: 1.7rem;
      line-height: 3rem;
      margin-top: 2.25rem;
      margin-bottom: 0.75rem; }
    .blog .container .content hr {
      margin-bottom: 3rem; }
    .blog .container .content pre.terminal {
      font-size: 1.1rem;
      line-height: 1.5rem;
      margin-top: 0rem;
      margin-bottom: 1.5rem;
      padding: 1.5rem; }
    .blog .container .content img {
      max-width: 100%; }
    .blog .container .content ul li {
      list-style: disc;
      margin-left: 1.5rem; }
      .blog .container .content ul li.blog-index {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 0rem;
        margin-bottom: 0.75rem; }
    .blog .container .content ul ol {
      list-style: decimal;
      margin-left: 1.5rem; }

form div label {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }
form div input[type="email"] {
  -webkit-appearance: none;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  border: 0;
  outline: 1px solid #232732;
  padding: 0.75rem 0.75rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
form div input[type="submit"] {
  -webkit-appearance: none;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  width: 100%;
  display: block;
  text-align: center;
  border: 0;
  padding: 0.75rem;
  background-color: #d33d5c;
  color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), #232732 0px 0px 1px inset;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), #232732 0px 0px 1px inset;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  outline: none;
  cursor: pointer; }
  form div input[type="submit"]:hover, form div input[type="submit"]:focus {
    background: #3DA450;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), #505050 0px 0px 1px inset;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), #505050 0px 0px 1px inset; }

.rss-icon {
  height: 1rem;
  padding-right: 0.5rem; }

@media screen and (min-width: 50em) {
  form.inline-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between; } }
@media screen and (min-width: 50em) {
  form.inline-button div input[type="email"] {
    width: 20rem;
    margin-right: 1.5rem; } }
form.inline-button div input[type="submit"] {
  display: block;
  padding: 0.75rem 1.5rem; }

footer {
  border-top: 1px solid #efefef;
  background: #232732;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (min-width: 0em) {
    footer {
      padding: 1.5rem; } }
  @media screen and (min-width: 50em) {
    footer {
      padding: 1.5rem 7.5rem; } }
  footer .content {
    width: 100%; }
    @media screen and (min-width: 64em) {
      footer .content {
        width: 70%; } }
    footer .content p {
      margin: 0; }
      footer .content p a {
        color: #ffffff;
        margin-right: 1.5rem; }
